.screen-1 {
  .wrapper {
    @include bp($medium) {
      flex-direction: row-reverse;
    }
  }

  .intro {
    display: flex;
    margin-bottom: 40px;

    &-hyphen {
      box-sizing: border-box;
      width: 20%;
      padding: 0 20px;
      stroke-width: 3px;
      fill: none;
      stroke: currentColor;

      @include bp(1350px) {
        width: 100px;
      }
    }

    &-content {
      margin: 0;
      width: 80%;
    }
  }

  .zipbag-backdrop {
    position: absolute;
    height: 75%;
    width: 50%;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-65%, -50%);
    fill: #d6e9f9;
  }

  .bubble-1 {
    position: absolute;
    z-index: -1;
    top: -10%;
    left: 20px;
    width: 20%;

    @include bp(1350px) {
      left: -5%;
    }

    .background {
      fill: #fad6ce;
    }

    .image {
      width: 100%;
      transform: translate(-10%, 20%);
    }
  }

  .bubble-2 {
    position: absolute;
    z-index: -1;
    bottom: -10%;
    right: 20px;
    width: 26%;

    @include bp(1350px) {
      right: -10%;
    }

    .background {
      fill: #eeccfe;
    }

    .image {
      width: 100%;
      transform: translate(20%, 20%);
    }
  }

  .doodle-1 {
    position: absolute;
    z-index: -1;
    top: 60%;
    left: 10%;
    transform-origin: 50% 50%;
    transform: rotate(-90deg);
    width: 11%;
  }

  .doodle-2 {
    position: absolute;
    z-index: -1;
    top: 10%;
    right: 10%;
    transform-origin: 50% 50%;
    width: 11%;
    // transform: rotate(-45deg);
  }
}
