.screen-1 {
  background-color: #fbd9d0;

  .intro {
    display: flex;
    margin-bottom: 40px;

    &-line {
      width: 50px;
      height: 2px;
      background-color: black;
      margin: 0.5em 30px 0;
    }

    &-content {
      margin-top: 0;
    }
  }

  .grid {
    display: grid;
    grid-template-columns: 30% auto 30%;
    grid-template-rows: 8% 18% auto 12% 6%;
    gap: 0px 0px;
    grid-template-areas:
      "dog1 .      ."
      "dog1 zipbag ."
      ".    zipbag ."
      ".    zipbag dog2"
      ".    .      dog2";

    div {
      &:nth-of-type(1) {
        // background-color: #fbd9d0;
        grid-area: dog1;
      }
      &:nth-of-type(2) {
        // background-color: #daecfa;
        grid-area: zipbag;
      }
      &:nth-of-type(3) {
        // background-color: #eeccfe;
        grid-area: dog2;
      }
    }
  }
}
