.screen-3 {
  .wrapper {
    position: relative;
    display: block;
    padding-left: $padding-column-text-x;
    padding-right: $padding-column-text-x;

    @include bp($large) {
      padding-left: $padding-column-text-x-large;
      padding-right: $padding-column-text-x-large;
    }
  }

  .zipbag-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .h2 {
    position: relative;

    @include bp($medium) {
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        width: 70px;
        height: 2px;
        background-color: black;

        @include bp($large) {
          width: 100px;
        }
      }
    }
  }

  .ingredient-list {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style-type: none;

    .ingredient-list-entry {
      width: 100%;
      text-align: center;
      width: 30%;

      .p {
        display: none;

        @include bp($medium) {
          display: block;
        }
      }

      &:nth-child(even) {
        margin-right: auto;

        .h2 {
          &::before {
            left: 80%;

            @include bp($large) {
              left: 100%;
            }
          }
        }
      }

      &:nth-child(odd) {
        margin-left: auto;

        .h2 {
          &::before {
            right: 80%;

            @include bp($large) {
              right: 100%;
            }
          }
        }
      }
    }
  }
}
