.screen-2 {
  .doodle-1 {
    position: absolute;
    z-index: -1;
    top: 46%;
    right: 17%;
    transform-origin: 50% 50%;
    transform: rotate(10deg);
    width: 11%;
  }

  .doodle-2 {
    position: absolute;
    z-index: -1;
    transform-origin: 50% 50%;
    width: 11%;
    top: -10%;
    left: 5%;
    transform: rotate(-30deg);
  }

  .bubble-1 {
    position: absolute;
    z-index: -1;
    bottom: -15%;
    left: 20px;
    width: 20%;

    @include bp(1350px) {
      left: -5%;
    }

    .background {
      fill: $color-pistachio;
    }

    .image {
      width: 140%;
      transform: translate(-60%, 15%);
    }
  }
}
