.row {
  display: flex; // Distribute columns evenly within row
}

.column {
  box-sizing: border-box;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center; // Center children verticaly
  align-items: flex-start; // Justify children to the left

  &-text {
    padding: 0 60px;
  }
}
