@import "./abstract/variables";
@import "./abstract/breakpoints";
@import "./abstract/fonts";
@import "./components/grid";
@import "./components/typography";
@import "./components/spritesheet";
@import "./components/icon-list";
@import "./components/canvas";
@import "./components/buttons";
@import "./components/screen";
@import "./components/screens/screen1";
@import "./components/screens/screen2";

body {
  margin: 0;
  font-family: $font-body;
}

.tp-dfwv {
  position: fixed !important;
}
